<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appetizer.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @appetizer.price %>
</p>

<p>
  <strong>Img:</strong>
  <%= @appetizer.img %>
</p>

<%= link_to 'Edit', edit_appetizer_path(@appetizer) %> |
<%= link_to 'Back', appetizers_path %>
