<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chickenduck.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @chickenduck.price %>
</p>

<p>
  <strong>Img:</strong>
  <%= @chickenduck.img %>
</p>

<%= link_to 'Edit', edit_chickenduck_path(@chickenduck) %> |
<%= link_to 'Back', chickenducks_path %>
