<%= form_for(@ricedish) do |f| %>
  <% if @ricedish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ricedish.errors.count, "error") %> prohibited this ricedish from being saved:</h2>

      <ul>
      <% @ricedish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :img %><br>
    <%= f.text_field :img %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
