<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @congeeincasserole.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @congeeincasserole.price %>
</p>

<p>
  <strong>Img:</strong>
  <%= @congeeincasserole.img %>
</p>

<%= link_to 'Edit', edit_congeeincasserole_path(@congeeincasserole) %> |
<%= link_to 'Back', congeeincasseroles_path %>
