<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @riceincasserole.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @riceincasserole.price %>
</p>

<p>
  <strong>Img:</strong>
  <%= @riceincasserole.img %>
</p>

<%= link_to 'Edit', edit_riceincasserole_path(@riceincasserole) %> |
<%= link_to 'Back', riceincasseroles_path %>
